@model List<YummyM.Models.BookVM>

@{
    ViewData["Title"] = "List Of Data";
}


<a asp-controller="Book" asp-action="Create">Create</a>
<div class="row">
    <div class="col-md-8 offset-2">
        <table class="table">
            <tr>
                <td>@Html.DisplayNameFor(Model =>Model.First().Name) </td>
                <td>@Html.DisplayNameFor(Model =>Model.First().email) </td>
                <td>@Html.DisplayNameFor(Model =>Model.First().Phone) </td>
                <td>@Html.DisplayNameFor(Model =>Model.First().Date) </td>
                <td>@Html.DisplayNameFor(Model =>Model.First().TimeCategory) </td>
                <td>@Html.DisplayNameFor(Model =>Model.First().TotalPeople) </td>
                <td>@Html.DisplayNameFor(Model =>Model.First().Message) </td>
                <td>Actions</td>
            </tr>

            @foreach (var abc in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(Model => abc.Name)</td>
                    <td> @Html.DisplayFor(Model => abc.email)</td>
                    <td> @Html.DisplayFor(Model => abc.Phone)</td>
                    <td> @Html.DisplayFor(Model => abc.Date)</td>
                    <td> @Html.DisplayFor(Model => abc.TimeCategory)</td>
                    <td> @Html.DisplayFor(Model => abc.TotalPeople)</td>
                    <td> @Html.DisplayFor(Model => abc.Message)</td>

                    <td>
                        <a asp-action="Update" asp-route-id="@abc.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@abc.Id">Delete</a>
                        <a asp-action="Details" asp-route-id="@abc.Id">Details</a>
                    </td>
                </tr>
            }


        </table>
    </div>
</div>